<center>
    <h1 style="color:deeppink">Just between us SQL Friends...</h1>
    <b style="color:deeppink">RuPaul's Drag Race: Visualized<b>
    <img src="media/header.gif" height="100px">
</center>

<h2 style="color:deeppink">Project Requirements</h2>

<ul>
    <li><strike>You must include a SQL database (MySQL or SQLite) where your data will be stored</strike></li>
    <li><strike>You need to include the sql or python script that creates your database</strike></li>
    <li><strike>You must include a Python script used to fetch data from a data source and load it into your SQL database</strike></li>
    <li><strike>Your data source may be an external API, database, a CSV file, JSON, or any other data source that you can read/parse via Python code</strike></li>
    <li><strike>You must include a Python script to retrieve the data from your SQL database into a Python object</strike></li>
    <li>Visualize the results of your analysis using Matplotlib, Seaborn, Bokeh or another Python Data </li>Visualization library. Your results can not be a plain text representation and you are encouraged to explore a visualization approach that clearly supports a conclusion/result of the analysis of your data.</li>
    <li>Your data retrieval for visualization uses at least one SQL query, meaning you can't parse records from your data set using only Python or an ORM. </li>
</ul>

<h2 style="color:deeppink">Data Schema</h2>
<ul>
    <li>
        <h3 style="color:deeppink">queens_df</h3>
        <ul>
            <li>id - int</li>
            <li>name - str</li>
            <li>quote - str</li>
            <li>image_url - str</li>
            <li>miss_congeniality - bool</li>
            <li>winner - bool</li>
        </ul>
    </li>
    <li>
        <h3 style="color:deeppink">main_seasons_df</h3>  
        <ul>
            <li>season_number - int</li>
            <li>queen_id - int</li>
            <li>place - int</li>
        </ul>
    </li> 
    <li>
        <h3 style="color:deeppink">all_stars_df</h3>
        <ul>
            <li>season_number - int</li>
            <li>queen_id - int</li>
            <li>place - int</li>
        </ul>
    </li>
</ul>

<h2 style="color:deeppink">To-Do:</h2>

<ul>
    <li></li>
    <li></li>    
    <li></li>
</ul>

<h2 style="color:deeppink">Import Libraries & Connect SQLite Database</h2>

In [147]:
import pandas as pd
import sqlite3
from IPython.display import Image
from pandas.io.json import json_normalize

drag_race_data_base = sqlite3.connect("drag_race_data.db")

<h2 style="color:deeppink">Define Constants, Global Variables, and API endpoints</h2>

In [148]:
#API URL
DRAG_RACE_API_URL = "http://www.nokeynoshade.party/api/"

#API Endpoints - may not need all of these in the finished product
SEASONS = "seasons"
SEASON_BY_NUMBER = "seasons/{}"
QUEENS = "queens/all"
QUEENS_BY_SEASON = "seasons/{}/queens"
EPISODES = "episodes"
EPISODES_BY_SEASON = "seasons/{}/episodes"
CHALLENGES_BY_SEASON = "seasons/{}/challenges"
WINNERS = "queens/winners"
CHALLENGES = "challenges"

<h2 style="color:deeppink">Define Functions</h2>

In [149]:
def get_data(endpoint, SEASON = None):
    data = pd.read_json(DRAG_RACE_API_URL + endpoint.format(SEASON))
    return data

# is this even necessary?
def sqlite_query_to_df(query, db, index):
    data = pd.read_sql(query, db).set_index(index)
    return data

<h2 style="color:deeppink">Define SQL Queries</h2>

In [155]:
queens_query = """
    SELECT id, name, quote, image_url, missCongeniality AS miss_congeniality, winner 
    FROM queens
"""

<h2 style="color:deeppink">Create raw dataframes from API endpoints</h2>

In [156]:
raw_seasons_df = get_data(SEASONS)
raw_queens_df = get_data(QUEENS)

<h2 style="color:deeppink">Create SQL Tables from raw dataframes</h2>

In [157]:
#create a sqlite table 'queens' from raw data
raw_queens_df.to_sql('queens', drag_race_data_base, if_exists="replace")

<h2 style="color:deeppink">Define values used for cleanup</h2>

<h2 style="color:deeppink">Clean and organize the data</h2>

In [141]:
queens_df = pd.read_sql(queens_query, drag_race_data_base).set_index('id')

<h2 style="color:deeppink">Sandbox</h2>
<b style="color:deeppink">Use the space below to experiment. Nothing below will be included in the finished product.</b>

In [154]:
queens_df

,name,quote,image_url,miss_congeniality,winner
id,,,,,
1,Victoria 'Porkchop' Parker,Would you fuck me? I'd fuck me.,http://www.nokeynoshade.party/images/victoria-...,0,0
2,Tammie Brown,"I'm not a slut, I'm a lady. You look under my ...",http://www.nokeynoshade.party/images/tammie-br...,0,0
3,Akashia,"If I was a girl, I'd be a stripper, or a slut ...",http://www.nokeynoshade.party/images/akashia.jpg,0,0
4,Jade,"Jade is definitely my alter-ego, basically she...",http://www.nokeynoshade.party/images/jade.jpg,0,0
5,Ongina,"If I don't win this, I swear to god I'm gonna ...",http://www.nokeynoshade.party/images/ongina.jpg,0,0
...,...,...,...,...,...
148,Nina West,Welcome to Season 11. It looks like things jus...,https://www.nokeynoshade.party/images/nina-wes...,1,0
149,Silky Nutmeg Ganache,Big Silk got the good ol' milk!,https://www.nokeynoshade.party/images/silky-nu...,0,0
150,A'keria Chanel Davenport,"Oh yes, it's me: Miss A'keria D-A-V-E-N-P-O-R,...",https://www.nokeynoshade.party/images/akeria-c...,0,0
151,Brooke Lynn Hytes,"Never fear, the queen of the North is here.",https://www.nokeynoshade.party/images/brooke-l...,0,0
152,Yvie oddly,"Move over ladies, this race just took an odd t...",https://www.nokeynoshade.party/images/yvie-odd...,0,1

In [151]:
winners_query = """
    SELECT id, name, quote, image_url
    FROM queens
    WHERE winner IS True
"""

winners_df = pd.read_sql(winners_query, drag_race_data_base).set_index('id')
winners_df

,name,quote,image_url
id,,,
12,Bebe Zahara Benet,"I bring a lot of international influence, and ...",http://www.nokeynoshade.party/images/bebe-zaha...
24,Tyra Sanchez,I'm not a bitch. I'm America's Sweetheart.,http://www.nokeynoshade.party/images/tyra-sanc...
36,Raja,They're a star fucker. You're a star. Let them...,http://www.nokeynoshade.party/images/raja.jpg
48,Chad Michaels,Everything I've gone through in my life has be...,http://www.nokeynoshade.party/images/chad-mich...
49,Sharon Needles,"I look spooky, but I'm really nice!... At leas...",http://www.nokeynoshade.party/images/sharon-ne...
62,Alaska Thunderfuck 5000,"I'll send you 10,000 dollars via PayPal if you...",http://www.nokeynoshade.party/images/alaska-th...
63,Jinkx Monsoon,"The name comes from Jinx, like you owe me a co...",http://www.nokeynoshade.party/images/jinkx-mon...
80,Bianca Del Rio,I will show you versatility when Santino wins ...,http://www.nokeynoshade.party/images/bianca-de...
89,Trixie Mattel,"Alright, Public school, calm down.",http://www.nokeynoshade.party/images/trixie-ma...
94,Violet Chachki,Pain is beauty and I'm the prettiest.,http://www.nokeynoshade.party/images/violet-ch...
106,Bob the Drag Queen,Purse first! Purse first! Walk into the room p...,http://www.nokeynoshade.party/images/bob-the-d...
124,Sasha Velour,Don't joke about that.,http://www.nokeynoshade.party/images/sasha-vel...
126,Aquaria,"I don't define drag, drag is defined by me.",http://www.nokeynoshade.party/images/aquaria.jpg
152,Yvie oddly,"Move over ladies, this race just took an odd t...",https://www.nokeynoshade.party/images/yvie-odd...