<center>
    <h1 style="color:deeppink">Just between us SQL Friends...</h1>
    <b style="color:deeppink">RuPaul's Drag Race: Visualized<b>
    <img src="media/header.gif" height="100px">
</center>

<h2 style="color:deeppink">Import Libraries & Connect SQLite Database</h2>

In [154]:
import pandas as pd
import sqlite3

drag_race_data_base = sqlite3.connect("drag_race_data.db")

<h2 style="color:deeppink">Define Constants, Global Variables, and API values</h2>

In [155]:
#API URL
DRAG_RACE_API = "http://www.nokeynoshade.party/api/"

#API Endpoints
QUEENS_BY_SEASON = "seasons/{}/queens"
QUEENS = "queens/all"
EPISODES = "episodes"

<h2 style="color:deeppink">Define Functions</h2>

In [156]:
def get_queens():
    data = pd.read_json(DRAG_RACE_API + QUEENS)
    return data

def get_episodes():
    data = pd.read_json(DRAG_RACE_API + EPISODES)
    return data

<h2 style="color:deeppink">Define SQLite Queries</h2>

In [157]:
winners_query = """
    SELECT name AS "Name"
    FROM queens_table 
    WHERE winner = True;
"""

<h2 style="color:deeppink">Sandbox</h2>

In [163]:
get_queens().to_sql('queens_table', drag_race_data_base, if_exists = 'replace')
bring_back_my_girls = pd.read_sql(winners_query, drag_race_data_base)

In [164]:
bring_back_my_girls

                       Name
0         Bebe Zahara Benet
1              Tyra Sanchez
2                      Raja
3             Chad Michaels
4            Sharon Needles
5   Alaska Thunderfuck 5000
6             Jinkx Monsoon
7            Bianca Del Rio
8             Trixie Mattel
9            Violet Chachki
10       Bob the Drag Queen
11             Sasha Velour
12                  Aquaria
13               Yvie oddly